In [10]:
import pandas as pd
import sqlalchemy as sa

In [11]:
conn = sa.create_engine("mysql+pymysql://CMARCINIAK:ifpri360@localhost/comtrade?charset=utf8mb4")

In [12]:
output_dir = "C:/Dropbox (IFPRI)/EU-28_Imports/"

In [13]:
chapters = ["06", "07", "08", "09", "11", "12" ,"13", "14", "15", "18", "20", "23", "24", "33","44"]

In [14]:
years = [str(i) for i in range(1995,2016)]

In [15]:
make_query(1995,"06")

NameError: name 'make_query' is not defined

In [93]:
def make_query(year,number):
    query = "SELECT commodity_code,value,netweight_kg FROM comtradehs{0} where trade_flow_code = 1 and commodity_code like '{1}%%';"
    return query.format(str(year),str(number))

In [ ]:

for year in years:
    data = pd.DataFrame()
    for chapter in chapters:
        query = make_query(year,chapter)
        table = pd.read_sql(query,conn)
        table['netweight_MT'] = table.netweight_kg/1000
        table['value (000 USD)'] = table.value/1000
        total = table.groupby("commodity_code",as_index=False).sum()
        total['label'] ="World Total"
        total['year'] = year
        data = pd.concat([data,total])        
    data.to_csv(output_dir+"total/world_total_{0}.csv".format(year))

In [106]:
eu28 = ["Austria",
"Estonia",
"Italy",
"Portugal",
"Belgium", 
"Finland", 
"Latvia",
"Romania", 
"Bulgaria",
"France",
"Lithuania",
"Slovakia",
"Croatia", 
"Germany",
"Luxembourg",
"Slovenia",
"Cyprus",
"Greece",
"Malta",
"Spain",
"Czech Republic",
"Hungary",
"Netherlands",
"Sweden",
"Denmark",
"Ireland",
"Poland",
"United Kingdom",
"Belgium-Luxembourg"]

In [16]:
def import_query(year,country,chapter):
    query = "SELECT value,netweight_kg,partner_iso,year,commodity_code from comtradehs{0} where trade_flow_code=1 and reporter='{1}' and commodity_code like '{2}%%'"
    return query.format(year,country,chapter)

In [17]:
import_query("1995",eu28[0],"06")

"SELECT value,netweight_kg,partner_iso,year,commodity_code from comtradehs1995 where trade_flow_code=1 and reporter='Austria' and commodity_code like '06%%'"

In [18]:

for year in years:
    imports = pd.DataFrame()
    for chapter in chapters:
        for country in eu28:
            query = import_query(year,country,chapter)
            table = pd.read_sql(query,conn)
            table["netweight_MT"] = table.netweight_kg/1000
            table["value (000 USD)"] = table.value/1000
            imports = pd.concat([imports,table])
            out = imports.groupby(["partner_iso","commodity_code","year"],as_index=False).sum()
            out['label'] = "EU-28 Total"
    out.to_csv(output_dir+"bilateral/eu28_imports_{0}.csv".format(year))

In [114]:
a = pd.read_csv("eu-28/total/world_total_1995.csv")
b = pd.read_csv("eu-28/bilateral/eu28_imports_1995.csv")

In [115]:
c = pd.concat([a,b])
c.to_csv("eu_imports_1995.csv")