In [1]:
import os
from blaze import *
import dask.dataframe as dd

C:\Miniconda3\lib\site-packages\flask\exthook.py:71: ExtDeprecationWarning: Importing flask.ext.cors is deprecated, use flask_cors instead.
  .format(x=modname), ExtDeprecationWarning

In [2]:
%cd "D:/Users/cmarciniak/Documents/macmap/data/comtrade"
filename = "type-C_r-ALL_ps-1995_freq-A_px-HS_pub-20060109_fmt-csv_ex-20151117.csv"
df = dd.read_csv(filename,dtype="object")

D:\Users\cmarciniak\Documents\macmap\data\comtrade

In [3]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Data columns (total 22 columns):
Classification         object
Year                   object
Period                 object
Period Desc.           object
Aggregate Level        object
Is Leaf Code           object
Trade Flow Code        object
Trade Flow             object
Reporter Code          object
Reporter               object
Reporter ISO           object
Partner Code           object
Partner                object
Partner ISO            object
Commodity Code         object
Commodity              object
Qty Unit Code          object
Qty Unit               object
Qty                    object
Netweight (kg)         object
Trade Value (US$)      object
Flag                   object
dtypes: object(22)

In [4]:
df.Flag.head()

0    0
1    0
2    0
3    0
4    0
Name: Flag, dtype: object

In [5]:
rmtotal = df[df.Qty!="TOTAL"]
rmtotal = rmtotal[rmtotal.Qty!="9999AA"]
rmtotal = rmtotal[rmtotal['Trade Value (US$)']!="foofoo"]

In [6]:
rmtotal[rmtotal['Qty']=="foofoo"].head(npartitions=31)

C:\Miniconda3\lib\site-packages\dask\dataframe\core.py:3410: UserWarning: Insufficient elements for `head`. 5 elements requested, only 0 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

Empty DataFrame
Columns: [Classification, Year, Period, Period Desc., Aggregate Level, Is Leaf Code, Trade Flow Code, Trade Flow, Reporter Code, Reporter, Reporter ISO, Partner Code, Partner, Partner ISO, Commodity Code, Commodity, Qty Unit Code, Qty Unit, Qty, Netweight (kg), Trade Value (US$), Flag]
Index: []

[0 rows x 22 columns]

In [7]:
counts = rmtotal['Trade Value (US$)'].value_counts().compute()

In [8]:
ct = pd.DataFrame(counts)

In [9]:
rmtotal.Qty.value_counts().compute()

0            1111693
97            114798
1000          101714
1              91509
199            76591
2000           69658
3              63214
2              60001
296            55264
10             54035
1125           49466
1187           47822
3000           46285
500            45667
1500           44160
20             44109
398            42692
4              42086
1062           39810
1312           39579
1375           39364
4000           34501
1250           34296
1625           34103
5000           33472
62             32317
597            31911
66             31466
6              31411
1812           31240
              ...
3365937            1
336593             1
33659132           1
336591             1
753820             1
336589600          1
3365882            1
3365873            1
33658692           1
7538179            1
7538159            1
336602             1
33661184           1
753815             1
336619             1
3366188            1
336614240          1
336614             1
3366125            1
336612             1
75381511           1
3366022            1
3366098            1
336608             1
3366068            1
336606             1
33660484           1
336604             1
33660332           1
2603770            1
Name: Qty, dtype: int64

In [10]:
qnumeric = pd.to_numeric(rmtotal.Qty,errors='raise')

In [ ]:
data_dir = "D:/Users/cmarciniak/Documents/macmap/data/comtrade"
file = "comtradeHS2014.zip"
filename = "type-C_r-ALL_ps-1995_freq-A_px-HS_pub-20060109_fmt-csv_ex-20151117.csv"
cmtrd95 = data(os.path.join(data_dir,filename))

In [ ]:
cmtrd95.dshape # Manually edit Commodity Code type to string
ds = dshape("""var * {
  '\ufeffClassification': ?string,
  Year: int64,
  Period: int64,
  'Period Desc.': int64,
  'Aggregate Level': int64,
  'Is Leaf Code': int64,
  'Trade Flow Code': int64,
  'Trade Flow': ?string,
  'Reporter Code': int64,
  Reporter: ?string,
  'Reporter ISO': ?string,
  'Partner Code': int64,
  Partner: ?string,
  'Partner ISO': ?string,
  'Commodity Code': string,
  Commodity: ?string,
  'Qty Unit Code': int64,
  'Qty Unit': ?string,
  Qty: ?float64,
  'Netweight (kg)': ?float64,
  'Trade Value (US$)': int64,
  Flag: int64
  }""")

In [ ]:
cmtrd = data(cmtrd95,dshape=ds)

In [ ]:
int_qnty = transform(cmtrd, isnumber=cmtrd.map(lambda x: x.type=='int64'),'int64')

In [ ]:
reporters = compute(cmtrd.Reporter.distinct())

In [ ]:
triplets = compute(cmtrd[['Reporter','Trade Flow','Commodity Code']].distinct())

In [ ]:
# Iterating through all triplets to compute median is too slow
"""medians = []
for index, row in triplets.iterrows():
    collection = cmtrd[cmtrd.Reporter==row['Reporter'] and cmtrd['Trade Flow']==row['Trade Flow'] and cmtrd['Commodity Code']==row['Commodity Code']].Qty
    medians.append((row['Reporter'],row['Commodity Code'],row['Trade Flow'],np.median(collection)))
"""

In [ ]:
collection = cmtrd[cmtrd.Reporter=='Algeria' and cmtrd['Trade Flow']=='Import' and cmtrd['Commodity Code']=='010290'].Qty
np.median(collection)

In [ ]:
for i in reporters:
    cmtrd[cmtrd.Reporter==i]

In [ ]:
cmtrd[cmtrd.Reporter=='Algeria' and cmtrd['Trade Flow']=="Export"]

In [ ]:
rep = compute(cmtrd.Reporter.sort())

Dask and blaze dataframes cause too many problems. Switching to pandas dataframe.

In [1]:
import pandas as pd
import numpy as np

In [2]:
chunk_size = 100000
%cd "D:/Users/cmarciniak/Documents/macmap/data/comtrade"
filename = "comtradehs1996.zip"

reader = pd.read_table(filename,sep=',',dtype="object",chunksize=chunk_size,encoding='utf-8')
chunk = reader.get_chunk(chunk_size*20)

D:\Users\cmarciniak\Documents\macmap\data\comtrade

FileNotFoundError: File b'type-C_r-ALL_ps-1995_freq-A_px-HS_pub-20060109_fmt-csv_ex-20151117.csv' does not exist

In [4]:
f = "comtradeHS1996.zip"
pd.read_table(f,sep=',',dtype="object",chunksize=chunk_size,encoding='utf8')

In [10]:
chunk.columns

Index(['Classification', 'Year', 'Period', 'Period Desc.', 'Aggregate Level',
       'Is Leaf Code', 'Trade Flow Code', 'Trade Flow', 'Reporter Code',
       'Reporter', 'Reporter ISO', 'Partner Code', 'Partner', 'Partner ISO',
       'Commodity Code', 'Commodity', 'Qty Unit Code', 'Qty Unit', 'Qty',
       'Netweight (kg)', 'Trade Value (US$)', 'Flag'],
      dtype='object')

In [13]:
list(map(lambda x: x.lower().replace(" ","_").replace("$","").replace("(","").replace(")",""),chunk.columns))

['classification',
 'year',
 'period',
 'period_desc.',
 'aggregate_level',
 'is_leaf_code',
 'trade_flow_code',
 'trade_flow',
 'reporter_code',
 'reporter',
 'reporter_iso',
 'partner_code',
 'partner',
 'partner_iso',
 'commodity_code',
 'commodity',
 'qty_unit_code',
 'qty_unit',
 'qty',
 'netweight_kg',
 'trade_value_us',
 'flag']

In [6]:
chunk.columns = ['classification', 'year', 'period', 'period_desc', 'aggregate_level',
       'is_leaf_code', 'trade_flow_code', 'trade_flow', 'reporter_code',
       'reporter', 'reporter_iso', 'partner_code', 'partner', 'partner_iso',
       'commodity_code', 'commodity', 'qty_unit_code', 'qty_unit', 'Qty',
       'netweight_kg', 'trade_value_us', 'flag']

In [21]:
[i for i in chunk.Partner.value_counts().index]

['Belgium-Luxembourg',
 'China',
 'Austria',
 'Australia',
 'Canada',
 'Brazil',
 'Argentina',
 'Chile',
 'Algeria',
 'Bangladesh',
 'Bolivia (Plurinational State of)',
 'Colombia',
 'Cameroon',
 'Andorra',
 'Belize',
 'Burundi',
 'Chad',
 'Central African Rep.',
 'Bermuda']

In [19]:
chunk = chunk[chunk.Partner!="World"] # totals

In [17]:
chunk['quantity'] = chunk.Qty.astype(float)
chunk['value'] = chunk['Trade Value (US$)'].astype(float)

In [8]:
chunk['Commodity Code'].str.len()

0          2
1          2
2          2
3          2
4          2
5          2
6          2
7          2
8          2
9          2
10         2
11         4
12         4
13         6
14         6
15         4
16         4
17         4
18         4
19         4
20         6
21         6
22         6
23         6
24         6
25         6
26         6
27         4
28         4
29         6
          ..
1999970    4
1999971    4
1999972    4
1999973    4
1999974    4
1999975    4
1999976    4
1999977    4
1999978    6
1999979    6
1999980    6
1999981    6
1999982    6
1999983    6
1999984    6
1999985    6
1999986    6
1999987    6
1999988    6
1999989    6
1999990    6
1999991    6
1999992    6
1999993    6
1999994    6
1999995    6
1999996    6
1999997    6
1999998    6
1999999    6
Name: Commodity Code, dtype: int64

In [7]:
kg_products = chunk[chunk['Qty Unit']=="Weight in kilograms"]
kg_prod_nz = kg_products[kg_products.quantity!=0]
kg_prod_nz['unit_value'] = kg_prod_nz['value']/kg_prod_nz['quantity']

AttributeError: 'DataFrame' object has no attribute 'quantity'

In [20]:
avg_unit_value = kg_prod_nz.groupby('Commodity Code').unit_value.mean()
len(avg_unit_value)

5990

In [21]:
def mirror_flow(df):
    rep = kg_prod_nz.Reporter
    flow = kg_prod_nz['Trade Flow']
    partner = kg_prod_nz['Partner']
    code = kg_prod_nz['Commodity Code']
    tf = ""
    if flow=="Import":
        tf = "Export"
    else:
        tf = ""
    df[df.Reporter==partner and df.Partner==rep and df['Commodity Code']==code and df['Trade Flow']==tf]

In [22]:
null_qnty = chunk[chunk.quantity.isnull()]

#null_qnty.join(kg_prod_nz,on='Commodity Code',how='outer')

In [23]:
med_value = chunk.groupby(['Reporter','Commodity Code','Partner','Trade Flow']).value.median()

In [24]:
chunk.groupby(['Reporter','Commodity Code','Partner','Trade Flow']).quantity.median()

Reporter  Commodity Code  Partner                           Trade Flow
Algeria   01              Areas, nes                        Import              NaN
                          Belgium-Luxembourg                Import              NaN
                          France                            Import              NaN
                          Germany                           Import              NaN
                          Hungary                           Import              NaN
                          Italy                             Import              NaN
                          Netherlands                       Import              NaN
                          Niger                             Import              NaN
                          Russian Federation                Import              NaN
                          Spain                             Import              NaN
          0101            France                            Import            753.0
          010119          France                            Import            753.0
          0102            France                            Import        4523312.0
                          Germany                           Import         440312.0
                          Netherlands                       Import          32359.0
                          Niger                             Import           4000.0
          010210          France                            Import        1109125.0
          010290          France                            Import        3414187.0
                          Germany                           Import         440312.0
                          Netherlands                       Import          32359.0
                          Niger                             Import           4000.0
          0104            France                            Import           6125.0
          010410          France                            Import           6125.0
          0105            Areas, nes                        Import              1.0
                          Belgium-Luxembourg                Import          22976.0
                          France                            Import          47694.0
                          Hungary                           Import          15062.0
                          Italy                             Import         270706.0
                          Netherlands                       Import           3187.0
                          Spain                             Import           7187.0
                                                                            ...
Colombia  4909            Spain                             Import           2187.0
                          Switzerland                       Import             12.0
                          Thailand                          Import            261.0
                          USA                               Export          66847.0
                                                            Import          30214.0
                          United Kingdom                    Export           5312.0
                                                            Import            441.0
                          Uruguay                           Import           3375.0
                          Venezuela                         Export          11375.0
                                                            Import            335.0
          490900          Argentina                         Export          14687.0
                          Bolivia (Plurinational State of)  Export            746.0
                          Brazil                            Export           1062.0
                          Canada                            Import            886.0
                          Chile                             Export            109.0
                          China                             Import            597.0
                          China, Hong Kong SAR              Export           6937.0
                                                            Import            179.0
                          Christmas Isds                    Export            136.0
                          Costa Rica                        Export          24050.0
                          Dominican Rep.                    Export           3187.0
                          Ecuador                           Export          17390.0
                          El Salvador                       Export           1187.0
                          France                            Import            160.0
                          Germany                           Export           3500.0
                                                            Import            625.0
                          Guatemala                         Export           2937.0
                          Honduras                          Export           2437.0
                          Italy                             Import           1312.0
                          Kiribati                          Export            250.0
Name: quantity, dtype: float64

In [25]:
chunk[np.logical_not(chunk.applymap(np.isreal)).quantity]

Empty DataFrame
Columns: [Classification, Year, Period, Period Desc., Aggregate Level, Is Leaf Code, Trade Flow Code, Trade Flow, Reporter Code, Reporter, Reporter ISO, Partner Code, Partner, Partner ISO, Commodity Code, Commodity, Qty Unit Code, Qty Unit, Qty, Netweight (kg), Trade Value (US$), Flag, quantity, value]
Index: []

[0 rows x 24 columns]

In [26]:
chunk.applymap(np.isreal).Qty

1           True
2           True
3           True
4           True
5           True
6           True
7           True
8           True
9           True
10          True
12         False
14         False
16         False
17         False
18         False
19         False
21         False
23         False
24         False
25         False
26         False
28         False
30         False
32         False
33         False
34         False
35         False
36         False
37         False
38         False
           ...
1999968    False
1999969    False
1999970    False
1999971    False
1999972    False
1999973    False
1999974    False
1999975    False
1999976    False
1999977    False
1999980    False
1999981    False
1999982    False
1999983    False
1999984    False
1999985    False
1999986    False
1999987    False
1999988    False
1999989    False
1999990    False
1999991    False
1999992    False
1999993    False
1999994    False
1999995    False
1999996    False
1999997    False
1999998    False
1999999    False
Name: Qty, dtype: bool

In [27]:
np.isreal('753')

False

Data needs to be loaded into mysql database in order to generate mirror flow

In [28]:
import odo

In [29]:
a = kg_prod_nz.drop(['Qty','Trade Value (US$)'],axis=1)

In [30]:
kg_prod_nz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365223 entries, 12 to 1999999
Data columns (total 25 columns):
Classification       1365223 non-null object
Year                 1365223 non-null object
Period               1365223 non-null object
Period Desc.         1365223 non-null object
Aggregate Level      1365223 non-null object
Is Leaf Code         1365223 non-null object
Trade Flow Code      1365223 non-null object
Trade Flow           1365223 non-null object
Reporter Code        1365223 non-null object
Reporter             1365223 non-null object
Reporter ISO         1365223 non-null object
Partner Code         1365223 non-null object
Partner              1365223 non-null object
Partner ISO          1265355 non-null object
Commodity Code       1365223 non-null object
Commodity            1365223 non-null object
Qty Unit Code        1365223 non-null object
Qty Unit             1365223 non-null object
Qty                  1365223 non-null object
Netweight (kg)       1365223 non-null object
Trade Value (US$)    1365223 non-null object
Flag                 1365223 non-null object
quantity             1365223 non-null float64
value                1365223 non-null float64
unit_value           1365223 non-null float64
dtypes: float64(3), object(22)
memory usage: 270.8+ MB

In [2]:
import sqlalchemy as sa

In [ ]:
conn = sa.create_engine("mysql+pymysql://CMARCINIAK:ifpri360@localhost/comtrade")

In [ ]:
kg_prod_nz.to_sql(name='cmtrd95',if_exists='append',con=conn)