In [1]:
import os
import requests
from blaze import *
import pandas as pd

C:\Miniconda3\lib\site-packages\flask\exthook.py:71: ExtDeprecationWarning: Importing flask.ext.cors is deprecated, use flask_cors instead.
  .format(x=modname), ExtDeprecationWarning

In [12]:
data_dir = "D:/Users/cmarciniak/Documents/macmap/data/comtrade"
file = "type-C_r-ALL_ps-1995_freq-A_px-HS_pub-20060109_fmt-csv_ex-20151117.csv"
comtrade95 = data(os.path.join(data_dir,file))

In [67]:
chunk_size = 100000
reader = pd.read_table(comtrade95,sep=",",chunksize=chunk_size,dtype='object')

chunk = reader.get_chunk(chunk_size*10)

Products listed at the 6,4, and 2 digit level

In [73]:
# remove TOTAL Rows
subset = chunk[chunk["Commodity Code"]!="TOTAL"]
subset["Commodity Code"].str.len().value_counts()

6    655943
4    284372
2     57957
Name: Commodity Code, dtype: int64

In [124]:
reader = pd.read_table(os.path.join(data_dir,"comtradeHS2014.zip"),sep=',',chunksize=chunk_size,dtype='object')
comtrade14 = reader.get_chunk(chunk_size)
comtrade14 = comtrade14.rename(columns= lambda x : x.replace(" ","_"))
subset14 = comtrade14[comtrade14["Commodity_Code"]!="TOTAL"]
subset14['Commodity_Code'].str.len().value_counts()

6    62945
4    27126
2     9660
Name: Commodity_Code, dtype: int64

In [59]:
url = "http://comtrade.un.org/api//refs/da/bulk?ps=2013" # gives download uris for bulk requests for 2013
res = requests.get(url)

In [28]:
# commodities, annual, 2013, rep=24, H0 classification
# ex http://comtrade.un.org/api/get/bulk/C/A/2013/24/H0

len(res.json())

1878

In [43]:
# Examine the same dataset with two different classifications
h1_url = "http://comtrade.un.org/api/get/bulk/C/A/2014/28/H1"
h2_url = "http://comtrade.un.org/api/get/bulk/C/A/2014/28/H2"
# access appears to be blocked by COMTRADE
#res = requests.get(h1_url)

In [ ]:
# Data Extraction API
da_url = "http://comtrade.un.org/api//refs/da/view?parameters"
res = requests.get(da_url)

In [37]:
available_data = pd.io.json.json_normalize(res.json())

In [48]:
len(available_data[available_data.type=="COMMODITIES"])

45338

In [49]:
data = "http://comtrade.un.org/api/refs/da/view?type=C&freq=M&ps=201607&px=HS"

In [45]:
# Iterate through bulk download csv of 2013
chunksize = 10 ** 6

trade = pd.read_table(file,sep=",",chunksize=chunksize)
for chunk in trade:
    print(chunk)

       ï»¿Classification  Year  Period  Period Desc.  Aggregate Level  \
0                   H2  2013    2013          2013                2
1                   H2  2013    2013          2013                2
2                   H2  2013    2013          2013                2
3                   H2  2013    2013          2013                2
4                   H2  2013    2013          2013                2
5                   H2  2013    2013          2013                2
6                   H2  2013    2013          2013                2
7                   H2  2013    2013          2013                2
8                   H2  2013    2013          2013                2
9                   H2  2013    2013          2013                2
10                  H2  2013    2013          2013                2
11                  H2  2013    2013          2013                2
12                  H2  2013    2013          2013                2
13                  H2  2013    2013          2013                2
14                  H2  2013    2013          2013                2
15                  H2  2013    2013          2013                2
16                  H2  2013    2013          2013                2
17                  H2  2013    2013          2013                2
18                  H2  2013    2013          2013                2
19                  H2  2013    2013          2013                2
20                  H2  2013    2013          2013                2
21                  H2  2013    2013          2013                2
22                  H2  2013    2013          2013                2
23                  H2  2013    2013          2013                2
24                  H2  2013    2013          2013                2
25                  H2  2013    2013          2013                2
26                  H2  2013    2013          2013                2
27                  H2  2013    2013          2013                2
28                  H2  2013    2013          2013                2
29                  H2  2013    2013          2013                2
...                ...   ...     ...           ...              ...
999970              H2  2013    2013          2013                4
999971              H2  2013    2013          2013                4
999972              H2  2013    2013          2013                4
999973              H2  2013    2013          2013                4
999974              H2  2013    2013          2013                4
999975              H2  2013    2013          2013                4
999976              H2  2013    2013          2013                4
999977              H2  2013    2013          2013                4
999978              H2  2013    2013          2013                4
999979              H2  2013    2013          2013                4
999980              H2  2013    2013          2013                4
999981              H2  2013    2013          2013                4
999982              H2  2013    2013          2013                4
999983              H2  2013    2013          2013                4
999984              H2  2013    2013          2013                4
999985              H2  2013    2013          2013                4
999986              H2  2013    2013          2013                4
999987              H2  2013    2013          2013                4
999988              H2  2013    2013          2013                4
999989              H2  2013    2013          2013                4
999990              H2  2013    2013          2013                4
999991              H2  2013    2013          2013                4
999992              H2  2013    2013          2013                4
999993              H2  2013    2013          2013                4
999994              H2  2013    2013          2013                4
999995              H2  2013    2013          2013                4
999996              H2  2013    2013          2013                4
999997              H2  2013    2013          2013                4
999998              H2  2013    2013          2013                4
999999              H2  2013    2013          2013                4

        Is Leaf Code  Trade Flow Code Trade Flow  Reporter Code      Reporter  \
0                  0                1     Import              8       Albania
1                  0                2     Export              8       Albania
2                  0                1     Import              8       Albania
3                  0                1     Import              8       Albania
4                  0                1     Import              8       Albania
5                  0                1     Import              8       Albania
6                  0                1     Import              8       Albania
7                  0                1     Import              8       Albania
8                  0                1     Import              8       Albania
9                  0                1     Import              8       Albania
10                 0                1     Import              8       Albania
11                 0                1     Import              8       Albania
12                 0                2     Export              8       Albania
13                 0                1     Import              8       Albania
14                 0                1     Import              8       Albania
15                 0                1     Import              8       Albania
16                 0                1     Import              8       Albania
17                 0                1     Import              8       Albania
18                 0                1     Import              8       Albania
19                 0                1     Import              8       Albania
20                 0                1     Import             12       Algeria
21                 0                2     Export             12       Algeria
22                 0                1     Import             12       Algeria
23                 0                1     Import             12       Algeria
24                 0                1     Import             12       Algeria
25                 0                1     Import             12       Algeria
26                 0                1     Import             12       Algeria
27                 0                1     Import             12       Algeria
28                 0                1     Import             12       Algeria
29                 0                2     Export             12       Algeria
...              ...              ...        ...            ...           ...
999970             0                1     Import            710  South Africa
999971             0                2     Export            710  South Africa
999972             0                1     Import            710  South Africa
999973             0                2     Export            710  South Africa
999974             0                1     Import            710  South Africa
999975             0                1     Import            710  South Africa
999976             0                2     Export            710  South Africa
999977             0                1     Import            710  South Africa
999978             0                2     Export            710  South Africa
999979             0                1     Import            710  South Africa
999980             0                1     Import            710  South Africa
999981             0                1     Import            710  South Africa
999982             0                2     Export            710  South Africa
999983             0                1     Import            710  South Africa
999984             0                1     Import            710  South Africa
999985             0                1     Import            710  South Africa
999986             0                2     Export            710  South Africa
999987             0                1     Import            710  South Africa
999988             0                2     Export            710  South Africa
999989             0                1     Import            710  South Africa
999990             0                2     Export            710  South Africa
999991             0                1     Import            710  South Africa
999992             0                1     Import            710  South Africa
999993             0                1     Import            710  South Africa
999994             0                2     Export            710  South Africa
999995             0                1     Import            710  South Africa
999996             0                1     Import            710  South Africa
999997             0                2     Export            710  South Africa
999998             0                1     Import            710  South Africa
999999             0                2     Export            710  South Africa

        ...                            Partner  Partner ISO Commodity Code  \
0       ...                              World          WLD              1
1       ...                              World          WLD              1
2       ...                            Austria          AUT              1
3       ...                            Belgium          BEL              1
4       ...                           Bulgaria          BGR              1
5       ...                            Croatia          HRV              1
6       ...                             France          FRA              1
7       ...                            Germany          DEU              1
8       ...                             Greece          GRC              1
9       ...                            Hungary          HUN              1
10      ...                            Ireland          IRL              1
11      ...                              Italy          ITA              1
12      ...                              Italy          ITA              1
13      ...                        Netherlands          NLD              1
14      ...                            Romania          ROU              1
15      ...                           Slovakia          SVK              1
16      ...                           Slovenia          SVN              1
17      ...                              Spain          ESP              1
18      ...                             Turkey          TUR              1
19      ...                  TFYR of Macedonia          MKD              1
20      ...                              World          WLD              1
21      ...                              World          WLD              1
22      ...                            Austria          AUT              1
23      ...                            Belgium          BEL              1
24      ...                             France          FRA              1
25      ...                            Germany          DEU              1
26      ...                            Hungary          HUN              1
27      ...                              Italy          ITA              1
28      ...                        Netherlands          NLD              1
29      ...                              Qatar          QAT              1
...     ...                                ...          ...            ...
999970  ...                            Austria          AUT            901
999971  ...                            Bahrain          BHR            901
999972  ...                            Belgium          BEL            901
999973  ...                            Belgium          BEL            901
999974  ...   Bolivia (Plurinational State of)          BOL            901
999975  ...                           Botswana          BWA            901
999976  ...                           Botswana          BWA            901
999977  ...                             Brazil          BRA            901
999978  ...                    Br. Virgin Isds          VGB            901
999979  ...                            Burundi          BDI            901
999980  ...                           Cameroon          CMR            901
999981  ...                             Canada          CAN            901
999982  ...                             Canada          CAN            901
999983  ...                          Sri Lanka          LKA            901
999984  ...                              Chile          CHL            901
999985  ...                              China          CHN            901
999986  ...                              China          CHN            901
999987  ...                           Colombia          COL            901
999988  ...                              Congo          COG            901
999989  ...             Dem. Rep. of the Congo          COD            901
999990  ...             Dem. Rep. of the Congo          COD            901
999991  ...                         Costa Rica          CRI            901
999992  ...                               Cuba          CUB            901
999993  ...                            Denmark          DNK            901
999994  ...                            Denmark          DNK            901
999995  ...                        El Salvador          SLV            901
999996  ...                           Ethiopia          ETH            901
999997  ...                            Finland          FIN            901
999998  ...                             France          FRA            901
999999  ...                             France          FRA            901

                                              Commodity  Qty Unit Code  \
0                                          Live animals              1
1                                          Live animals              1
2                                          Live animals              1
3                                          Live animals              1
4                                          Live animals              1
5                                          Live animals              1
6                                          Live animals              1
7                                          Live animals              1
8                                          Live animals              1
9                                          Live animals              1
10                                         Live animals              1
11                                         Live animals              1
12                                         Live animals              1
13                                         Live animals              1
14                                         Live animals              1
15                                         Live animals              1
16                                         Live animals              1
17                                         Live animals              1
18                                         Live animals              1
19                                         Live animals              1
20                                         Live animals              1
21                                         Live animals              1
22                                         Live animals              1
23                                         Live animals              1
24                                         Live animals              1
25                                         Live animals              1
26                                         Live animals              1
27                                         Live animals              1
28                                         Live animals              1
29                                         Live animals              1
...                                                 ...            ...
999970  Coffee, whether or not roasted or decaffeinated              8
999971  Coffee, whether or not roasted or decaffeinated              8
999972  Coffee, whether or not roasted or decaffeinated              8
999973  Coffee, whether or not roasted or decaffeinated              8
999974  Coffee, whether or not roasted or decaffeinated              8
999975  Coffee, whether or not roasted or decaffeinated              8
999976  Coffee, whether or not roasted or decaffeinated              8
999977  Coffee, whether or not roasted or decaffeinated              8
999978  Coffee, whether or not roasted or decaffeinated              8
999979  Coffee, whether or not roasted or decaffeinated              8
999980  Coffee, whether or not roasted or decaffeinated              8
999981  Coffee, whether or not roasted or decaffeinated              8
999982  Coffee, whether or not roasted or decaffeinated              8
999983  Coffee, whether or not roasted or decaffeinated              8
999984  Coffee, whether or not roasted or decaffeinated              8
999985  Coffee, whether or not roasted or decaffeinated              8
999986  Coffee, whether or not roasted or decaffeinated              8
999987  Coffee, whether or not roasted or decaffeinated              8
999988  Coffee, whether or not roasted or decaffeinated              8
999989  Coffee, whether or not roasted or decaffeinated              8
999990  Coffee, whether or not roasted or decaffeinated              8
999991  Coffee, whether or not roasted or decaffeinated              8
999992  Coffee, whether or not roasted or decaffeinated              8
999993  Coffee, whether or not roasted or decaffeinated              8
999994  Coffee, whether or not roasted or decaffeinated              8
999995  Coffee, whether or not roasted or decaffeinated              8
999996  Coffee, whether or not roasted or decaffeinated              8
999997  Coffee, whether or not roasted or decaffeinated              8
999998  Coffee, whether or not roasted or decaffeinated              8
999999  Coffee, whether or not roasted or decaffeinated              8

                   Qty Unit        Qty Netweight (kg)  Trade Value (US$)  Flag
0               No Quantity        NaN            NaN           29211442     0
1               No Quantity        NaN            NaN             846588     0
2               No Quantity        NaN            NaN             331070     0
3               No Quantity        NaN            NaN               3676     0
4               No Quantity        NaN            NaN            7432885     0
5               No Quantity        NaN            NaN             380993     0
6               No Quantity        NaN            NaN             133223     0
7               No Quantity        NaN            NaN               6760     0
8               No Quantity        NaN            NaN           11515743     0
9               No Quantity        NaN            NaN            4408390     0
10              No Quantity        NaN            NaN              19646     0
11              No Quantity        NaN            NaN            1525121     0
12              No Quantity        NaN            NaN             846588     0
13              No Quantity        NaN            NaN             600794     0
14              No Quantity        NaN            NaN             315959     0
15              No Quantity        NaN            NaN               1003     0
16              No Quantity        NaN            NaN             100122     0
17              No Quantity        NaN            NaN             102127     0
18              No Quantity        NaN            NaN             798508     0
19              No Quantity        NaN            NaN            1535423     0
20              No Quantity        NaN            NaN          189484790     0
21              No Quantity        NaN            NaN              14163     0

KeyboardInterrupt:

In [120]:
comtrade14['Qty_Unit'].value_counts()

Weight in kilograms                                 63992
Number of items                                     18270
No Quantity                                         15939
Number of pairs                                       641
Area in square metres                                 567
Volume in litres                                      410
Volume in cubic meters                                162
Thousands of items                                     13
Electrical energy in thousands of kilowatt-hours        4
Number of packages                                      2
Name: Qty Unit, dtype: int64

In [96]:
def remove_total(dataframe):
    return dataframe[dataframe['Commodity_Code'] is not "TOTAL"]

In [105]:
# Two-digit reporters
subset14[subset14['Commodity_Code'].str.len()==2]['Reporter'].value_counts()

Albania    4992
Algeria    4668
Name: Reporter, dtype: int64

In [106]:
subset14[subset14['Commodity_Code'].str.len()==4]['Reporter'].value_counts()

Algeria    21729
Albania     5397
Name: Reporter, dtype: int64

In [111]:
subset14.Reporter.unique()

array(['Albania', 'Algeria'], dtype=object)

In [158]:

#ds = dshape("var * {Commodity_Code: string, Qty: int}")
cmtrd14 = data(os.path.join(data_dir,file),dtype='object')
cmtrd14.dshape  # Get dshape from data and correct Commodity Code to string
ds = dshape("""var * {
  '\ufeffClassification': ?string,
  Year: int64,
  Period: int64,
  'Period Desc.': int64,
  'Aggregate Level': int64,
  'Is Leaf Code': int64,
  'Trade Flow Code': int64,
  'Trade Flow': ?string,
  'Reporter Code': int64,
  Reporter: ?string,
  'Reporter ISO': ?string,
  'Partner Code': int64,
  Partner: ?string,
  'Partner ISO': ?string,
  'Commodity Code': string,
  Commodity: ?string,
  'Qty Unit Code': int64,
  'Qty Unit': ?string,
  Qty: ?float64,
  'Netweight (kg)': ?float64,
  'Trade Value (US$)': int64,
  Flag: int64
  }""")
cmtrd14 = data(cmtrd14, dshape=ds)

In [192]:
subset14 = cmtrd14[cmtrd14['Commodity Code']!="TOTAL"]

In [193]:
average_qty = compute(by( subset14['Commodity Code'],average=subset14['Qty'].mean()))

In [183]:
count = by( cmtrd14[['Reporter','Trade Flow','Commodity Code']], count= cmtrd14['Qty'].count() )
srt = by(cmtrd14[['Reporter','Trade Flow','Commodity Code']], sort= cmtrd14['Qty'].sort())

In [233]:
srt = subset14.sort(['Reporter','Trade Flow','Commodity Code'])
nelements = compute(by(srt[['Reporter','Trade Flow','Commodity Code']],n=srt.Qty.count()))

In [230]:
nelements

        Reporter Trade Flow Commodity Code   n
0        Algeria     Export             03   8
1        Algeria     Export           0301   4
2        Algeria     Export         030192   4
3        Algeria     Export           0302   8
4        Algeria     Export         030219   3
5        Algeria     Export         030223   2
6        Algeria     Export         030229   3
7        Algeria     Export         030269   6
8        Algeria     Export           0303   2
9        Algeria     Export         030339   2
10       Algeria     Export         030349   2
11       Algeria     Export         030379   2
12       Algeria     Export         030380   2
13       Algeria     Export           0305   2
14       Algeria     Export         030563   2
15       Algeria     Export         030569   2
16       Algeria     Export           0306   6
17       Algeria     Export         030611   4
18       Algeria     Export         030613   4
19       Algeria     Export         030614   2
20       Algeria     Export         030619   2
21       Algeria     Export         030621   5
22       Algeria     Export         030623   5
23       Algeria     Export         030629   3
24       Algeria     Export           0307   6
25       Algeria     Export         030729   2
26       Algeria     Export         030741   2
27       Algeria     Export         030749   2
28       Algeria     Export         030751   3
29       Algeria     Export         030759   4
...          ...        ...            ...  ..
962529  Zimbabwe     Import         961390   4
962530  Zimbabwe     Import           9614   4
962531  Zimbabwe     Import         961420   2
962532  Zimbabwe     Import         961490   4
962533  Zimbabwe     Import           9615   7
962534  Zimbabwe     Import         961511   5
962535  Zimbabwe     Import         961519   4
962536  Zimbabwe     Import         961590   5
962537  Zimbabwe     Import           9616   6
962538  Zimbabwe     Import         961610   6
962539  Zimbabwe     Import         961620   3
962540  Zimbabwe     Import           9617   9
962541  Zimbabwe     Import         961700   9
962542  Zimbabwe     Import           9618   6
962543  Zimbabwe     Import         961800   6
962544  Zimbabwe     Import             97  14
962545  Zimbabwe     Import           9701   5
962546  Zimbabwe     Import         970110   4
962547  Zimbabwe     Import         970190   4
962548  Zimbabwe     Import           9702   3
962549  Zimbabwe     Import         970200   3
962550  Zimbabwe     Import           9703  10
962551  Zimbabwe     Import         970300  10
962552  Zimbabwe     Import           9705   7
962553  Zimbabwe     Import         970500   7
962554  Zimbabwe     Import           9706   2
962555  Zimbabwe     Import         970600   2
962556  Zimbabwe     Import             99  64
962557  Zimbabwe     Import           9999  64
962558  Zimbabwe     Import         9999AA  64

[962559 rows x 4 columns]

In [200]:
med = compute(subset14.Qty.map(np.median,'float64'))

C:\Miniconda3\lib\site-packages\numpy\lib\function_base.py:3569: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

In [197]:
compute(cmtrd14.Flag.count_values())

   Flag     count
0     0  12678998

In [173]:
cmtrd14[cmtrd14['Commodity Code']!="TOTAL"]

,ï»¿Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,0,World,WLD,01,Live animals,1,No Quantity,NaN,NaN,15841726,0
1,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,58,Belgium-Luxembourg,BEL,01,Live animals,1,No Quantity,NaN,NaN,384448,0
2,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,251,France,FRA,01,Live animals,1,No Quantity,NaN,NaN,12232970,0
3,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,276,Germany,DEU,01,Live animals,1,No Quantity,NaN,NaN,645205,0
4,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,348,Hungary,HUN,01,Live animals,1,No Quantity,NaN,NaN,709825,0
5,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,381,Italy,ITA,01,Live animals,1,No Quantity,NaN,NaN,1384977,0
6,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,528,Netherlands,NLD,01,Live animals,1,No Quantity,NaN,NaN,301946,0
7,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,562,Niger,NER,01,Live animals,1,No Quantity,NaN,NaN,2522,0
8,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,643,Russian Federation,RUS,01,Live animals,1,No Quantity,NaN,NaN,5482,0
9,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,724,Spain,ESP,01,Live animals,1,No Quantity,NaN,NaN,174035,0
10,H0,1995,1995,1995,2,0,1,Import,12,Algeria,DZA,899,"Areas, nes",NaN,01,Live animals,1,No Quantity,NaN,NaN,316,0