In [7]:
import os
import pandas as pd
import blaze

In [2]:
data_dir = "D:/Users/cmarciniak/Documents/macmap/data/usitc"

In [12]:
tariffs = os.path.join(data_dir,"tariff_database_2015.txt")
data = pd.read_table(tariffs,delimiter="|",dtype="object")

In [14]:
for col in data.columns:
    print(col)

hts8
brief_description
quantity_1_code
quantity_2_code
wto_binding_code
mfn_text_rate
mfn_rate_type_code
mfn_ave
mfn_ad_val_rate
mfn_specific_rate
mfn_other_rate
col1_special_text
col1_special_mod
gsp_indicator
gsp_ctry_excluded
apta_indicator
civil_air_indicator
nafta_canada_ind
nafta_mexico_ind
mexico_rate_type_code
mexico_ad_val_rate
mexico_specific_rate
cbi_indicator
cbi_ad_val_rate
cbi_specific_rate
agoa_indicator
cbtpa_indicator
cbtpa_rate_type_code
cbtpa_ad_val_rate
cbtpa_specific_rate
israel_fta_indicator
atpa_indicator
atpa_ad_val_rate
atpa_specific_rate
atpdea_indicator
jordan_indicator
jordan_rate_type_code
jordan_ad_val_rate
jordan_specific_rate
jordan_other_rate
singapore_indicator
singapore_rate_type_code
singapore_ad_val_rate
singapore_specific_rate
singapore_other_rate
chile_indicator
chile_rate_type_code
chile_ad_val_rate
chile_specific_rate
chile_other_rate
morocco_indicator
morocco_rate_type_code
morocco_ad_val_rate
morocco_specific_rate
morocco_other_rate
australia_indicator
australia_rate_type_code
australia_ad_val_rate
australia_specific_rate
australia_other_rate
bahrain_indicator
bahrain_rate_type_code
bahrain_ad_val_rate
bahrain_specific_rate
bahrain_other_rate
dr_cafta_indicator
dr_cafta_rate_type_code
dr_cafta_ad_val_rate
dr_cafta_specific_rate
dr_cafta_other_rate
dr_cafta_plus_indicator
dr_cafta_plus_rate_type_code
dr_cafta_plus_ad_val_rate
dr_cafta_plus_specific_rate
dr_cafta_plus_other_rate
oman_indicator
oman_rate_type_code
oman_ad_val_rate
oman_specific_rate
oman_other_rate
peru_indicator
peru_rate_type_code
peru_ad_val_rate
peru_specific_rate
peru_other_rate
pharmaceutical_ind
dyes_indicator
col2_text_rate
col2_rate_type_code
col2_ad_val_rate
col2_specific_rate
col2_other_rate
begin_effect_date
end_effective_date
footnote_comment
additional_duty
korea_indicator
korea_rate_type_code
korea_ad_val_rate
korea_specific_rate
korea_other_rate
columbia_indicator
columbia_rate_type_code
columbia_ad_val_rate
columbia_specific_rate
columbia_other_rate
panama_indicator
panama_rate_type_code
panama_ad_val_rate
panama_specific_rate
panama_other_rate

In [21]:
data.head()

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,...,columbia_indicator,columbia_rate_type_code,columbia_ad_val_rate,columbia_specific_rate,columbia_other_rate,panama_indicator,panama_rate_type_code,panama_ad_val_rate,panama_specific_rate,panama_other_rate
0,01012100,Live purebred breeding horses,NO,NaN,B,Free,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01012900,Live horses other than purebred breeding horses,NO,NaN,B,Free,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01013000,Live asses,NO,NaN,B,6.8%,7,NaN,0.068,0,...,CO,0,0,0,0,PA,0,0,0,0
3,01019030,Mules and hinnies imported for immediate slaug...,NO,NaN,B,Free,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01019040,Mules and hinnies not imported for immediate s...,NO,NaN,B,4.5%,7,NaN,0.045,0,...,CO,0,0,0,0,PA,0,0,0,0