In [43]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import Table,bindparam, and_, text
from sqlalchemy.ext.declarative import declarative_base

In [44]:
conn = sa.create_engine("mysql+pymysql://CMARCINIAK:ifpri360@localhost/comtrade?charset=utf8mb4")

In [45]:
#query = "SELECT classification,year,commodity_code,partner_iso,reporter_iso,value,quantity,netweight_kg,kg_conversion_factor,qty_unit,trade_flow FROM comtradehs2015 where trade_flow_code < 3 and commodity_code like '0%%';"

#data = pd.read_sql(query,conn)

In [46]:
def make_query(number):
    query = "SELECT classification,year,commodity_code,partner_iso,reporter_iso,value,quantity,netweight_kg,kg_conversion_factor,qty_unit,trade_flow FROM comtradehs2015 where trade_flow_code < 3 and commodity_code like '{0}%%';"
    return query.format(str(number))

chapters = [0,1,20,21,22,23,24,50,51]

queries = list(map(make_query,chapters))
data = pd.DataFrame()
for query in queries:
    table = pd.read_sql(query,conn)
    data = pd.concat([data,table])

In [47]:
data.commodity_code.map(type).unique()

array([<class 'str'>], dtype=object)

In [48]:
data.commodity_code.map(lambda x: x[0:4])

0        0101
1        0101
2        0101
3        0101
4        0101
5        0101
6        0101
7        0101
8        0101
9        0101
10       0101
11       0101
12       0101
13       0101
14       0101
15       0101
16       0101
17       0101
18       0101
19       0101
20       0101
21       0101
22       0101
23       0101
24       0101
25       0101
26       0101
27       0101
28       0101
29       0101
         ...
35324    5113
35325    5113
35326    5113
35327    5113
35328    5113
35329    5113
35330    5113
35331    5113
35332    5113
35333    5113
35334    5113
35335    5113
35336    5113
35337    5113
35338    5113
35339    5113
35340    5113
35341    5113
35342    5113
35343    5113
35344    5113
35345    5113
35346    5113
35347    5113
35348    5113
35349    5113
35350    5113
35351    5113
35352    5113
35353    5113
Name: commodity_code, dtype: object

In [49]:
#data['HS4'] = pd.Series(map( lambda x: x[0:4], data.commodity_code))
data['HS4'] = data.commodity_code.map(lambda x: x[0:4])

In [50]:
agg = data.groupby(["HS4","reporter_iso","partner_iso","trade_flow","year"]).sum()

In [51]:
output = agg[['value','quantity','netweight_kg']]

In [52]:
output.to_csv("output_2015a.csv")

In [53]:
a = pd.read_csv("output_2013a.csv",dtype={'HS4':str})
b = pd.read_csv("output_2014a.csv",dtype={'HS4':str})
c = pd.read_csv("output_2015a.csv",dtype={'HS4':str})

In [54]:
out = pd.concat([a,b,c,])
# = out['']

In [61]:
out['VALUE (1000USD)'] = out.value/1000
out['REPORTER [ISO 3 LETTER]'] = out['reporter_iso']
out['PARTNER [ISO 3 LETTER]'] = out['partner_iso']
out['HS4 [4 digit]'] = out['HS4']
out['YEAR'] = out['year']
out['VOLUME (M Tons)'] = out['netweight_kg']/1000
out['FLOWS (X or M)'] = out.trade_flow.map({"Export":"X","Import":"M"})
outfile = out[['REPORTER [ISO 3 LETTER]','PARTNER [ISO 3 LETTER]','HS4 [4 digit]','FLOWS (X or M)','YEAR','VALUE (1000USD)','VOLUME (M Tons)'] ]

In [62]:
out.columns

Index(['HS4', 'reporter_iso', 'partner_iso', 'trade_flow', 'year', 'value',
       'quantity', 'netweight_kg', 'VALUE (1000USD)',
       'REPORTER [ISO 3 LETTER]', 'PARTNER [ISO 3 LETTER]', 'HS4 [4 digit]',
       'YEAR', 'VOLUME (M TONS)', 'FLOWS (X or M)', 'VOLUME (M Tons)'],
      dtype='object')

In [63]:
outfile.to_csv("template_COMTRADE.csv")

In [142]:
f = pd.read_csv("comtrade.csv",dtype="object")

In [143]:
f.columns

Index(['Unnamed: 0', 'REPORTER [ISO 3 LETTER]', 'PARTNER [ISO 3 LETTER]',
       'HS4 [4 digit]', 'FLOWS (X or M)', 'YEAR', 'VALUE (1000USD)',
       'VOLUME (M Tons)'],
      dtype='object')

Empty DataFrame
Columns: [Unnamed: 0, REPORTER [ISO 3 LETTER], PARTNER [ISO 3 LETTER], HS4 [4 digit], FLOWS (X or M), YEAR, VALUE (1000USD), VOLUME (M Tons)]
Index: []